<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/products/add' ]"
        ><ion-icon name="add-circle-outline"></ion-icon>
        </ion-button
      >
    </ion-buttons>
    <ion-title> Catálogo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-card *ngFor="let product of products">
      <ion-item>
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>{{ product.nombre}}</ion-label>
      </ion-item>
      <ion-card-content>
        {{ product.descripcion }}

        <br />
        <div *ngFor="let provedor of product.proveedor">
          <p>Fabricado: {{ provedor.nombre }}</p>
          <p>Numero: {{ provedor.numero}}</p>
        </div>

        <div style="text-align: center">
        <ion-button fill="outline" slot="end" (click)="view(product.codigo)"
          ><ion-icon name="eye-outline"></ion-icon></ion-button
        >
        <ion-button fill="outline" slot="end" (click)="delete(product.codigo)"
          ><ion-icon name="trash"></ion-icon></ion-button
        >
        <ion-button fill="outline" slot="end" (click)="update(product.codigo)"
          ><ion-icon name="create"></ion-icon></ion-button
        >
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
